body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 72px;
    text-align: center;
    position: relative;
    top: 50%;
}

.icon-wrapper {
    font-size: 48px;
    text-align: center;
}

#right-icon-wrapper {
    direction: rtl;
}