body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#flexbox-wrapper {
    display: flex;
    flex: 5;
}

h1 {
    font-size: 72px;
    flex: 10;
    text-align: center;
    position: relative;
    top: 50%;
}

.icon-wrapper {
    flex: 1;
    font-size: 48px;
    text-align: center;
    /* position: relative;
    top: 50%; */
}

#right-icon-wrapper {
    direction: rtl;
}