body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2D2E38;
    font-size: 36px;
    z-index: -1;
    display: block;
    flex: 100;
}

li {
    float: top;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}